.messageList {
  width: 600px;
  margin: auto;
  margin-top: 20px;
}

.message {
  padding: 10px 20px;
  box-shadow: 0 0 10px 0px rgba(0,0,0,.05);
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  
  .userinfo {
    display: flex;
  }

  .avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;

    color: #CCC;
    text-align: center;
    line-height 50px;
    font-size: 24px;
  }

  .nickname {
    margin-top: 4px;
    display: block;
  }

  .briefIntro {
    color: #CCC;
    font-size: 12px;
    white-space nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 500px;
    margin-top: 4px;
  }

  .content {
    margin-left: 60px;
    font-size: 14px;
    margin-top: 5px;
    word-break break-all;
    line-height: 1.4;
  }

  .interactive {
    font-size: 12px;
    text-align: right;
    margin-top: 10px;

    span {
      margin-left: 10px;
      color #AAA;
    }
  }
}
  
.sendInput {
  width: 100%;
  border: 1px solid #EEE;
  outline: none;
  height: 70px;
  padding: 10px;
  resize: none;
  border-radius: 10px;
  margin-top: 5px;
}

.sendBtn {
  margin-left: 100%;
  float: right;
  border: none;
  box-shadow: 0 0 0 .5px rgba(0,0,0,.08);
  background-color: #FFF;
  padding: 4px 20px;
  margin-top: 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: all .1s;
  outline: none;

  &:hover {
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,.08);
  }

  &:active {
    box-shadow: inset 0px 0px 1px 0.8px rgba(0,0,0,0.05);
  }
}

@media screen and (max-width: 768px) {
  .messageList {
    width: 100%;
  }
}
